header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
 
nav {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    max-width: var(--main-width);
    height: 70px;
}  

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    width: 100%;
    max-width: 145px;
    min-width: 90px;
    height: 55px;
    font-size: var(--m);
    border-right: 0.5px solid var(--white);
}

nav li:nth-last-child(1){
    border-right: none;
}

nav li:hover {
    font-size: 16px;
    transition: 0.2s;
}

nav li a {
    color: var(--white);
    text-decoration: none;
}

.logo-wrapper {
    width: 96px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10px solid transparent;
}

.logo{
    cursor: pointer;
}

.logo-wrapper:hover {
    transition: 0.2s;
    border-top-color: var(--green);
}

.hero {
    font-size: var(--xxl);
    text-transform: uppercase;
    display: block;
}

h1.hero {
    color: var(--white);
}

h2.hero {
    color: var(--dark)
}
