@import url("header.css");
@import url("mission.css");

:root {
  /* colors */
  --white: #fff;
  --green: #62c017;
  --dark: #2d2d2d;
  --gray: #3c3c3c;
  
  /* font-sizes */
  --xxl: 58px;
  --xl: 50px;
  --l: 22px;
  --m: 14px;

  /* font-weight */
  --light: 300;
  --regular: 400;
  --black-bold: 900;

  /* page sizes */
  --main-width: 960px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mada', sans-serif;
  font-size: var(--m);
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Homenaje', sans-serif;
}
