@import url("header.css");

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mada', sans-serif;
  font-size: 10px
}

h1, h2, h3 {
  font-family: 'Homenaje', sans-serif;
}

