.mission {
    min-height: 600px;
    max-width: var(--main-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.mission__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission__dsc-wrapper {
position: relative;
}

