$colors: (
    white: #fff,
    green: #62c017,
    dark: #2d2d2d,
    gray: #3c3c3c,
    black: #1c1b1b,
    bg-gray: #f1f1f1,
    footer: #242424,
);

$font-sizes: (
    xxl: 58px,
    xl: 50px,
    ll: 30px,
    l: 22px,
    m: 14px,
    s: 12px,
);

$font-weights: (
    light: 300,
    regular: 400,
    black-bold: 900,
);

$page-sizes: (
    main-width: 960px,
    full-width: 1150px,
);

$font-families: (
    primary: 'Mada',
    secondary: 'Homenaje',
);

$section-margins: (
    primary: 85px auto,
);

$section-paddings: (
    primary: 45px 30px,
);