$colors: (
    white: #fff,
    green: #62c017,
    dark: #2d2d2d,
    gray: #3c3c3c,
    black: #1c1b1b,
);

$font-sizes: (
    xxl: 58px,
    xl: 50px,
    l: 22px,
    m: 14px,
);

$font-weights: (
    light: 300,
    regular: 400,
    black-bold: 900,
);

$page-sizes: (
    main-width: 960px,
    full-width: 1150px,
);
