.footer {
    background-color: color(footer);
    padding: padding(text) !important;
    color: color(bg-gray);
    font-weight: font-weight(light);
    font-size: font-size(s);

    &__wrapper{
        width: 100%;
        max-width: width(full-width);
        justify-self: flex-start;
    }
}