header {
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url('../../assets/img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
 
nav {
    position: fixed;
    display: flex;
    width: 100%;
    max-width: width(main-width);
    height: 70px;
    z-index: 9999;
    transition: 0.3s;

    @media (max-width: breakpoint(mobile)) {
    
            &.nav--burger {
                display: flex;
                height: 100vh;
                background-color: color(green);

             & ul {
                 @include flexColCenter;
                 
             }   

             & li {
                 border: none;
                 font-size: font-size(l);
                 margin-left: -50px;
                 
                 &:hover {
                    font-size: font-size(ll);
                    transition: 0.2s;
                }
             }
        }
    }

    & ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;
        width: 100%;

        @media (max-width: breakpoint(mobile)) {
            display: none;
        }
    }

    & li {
        @include flexRowCenter;
    
        text-transform: uppercase;
        text-align: center;
        color: color(white);
        width: 100%;
        max-width: 145px;
        min-width: 90px;
        height: 55px;
        font-size: font-size(m);
        border-right: 0.5px solid color(white);
    
        &:nth-last-child(1) {
            border-right: none;
        }
    
        &:hover {
            font-size: 16px;
            transition: 0.2s;
        }
    
        & a {
            color: color(white);
            text-decoration: none;
        }
    }
} 

.nav-active {
    background-color: color(green);
    height: 90px;
    transition: 0.3s;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.logo-wrapper {
    @include flexRowCenter;

    width: 96px;
    height: 70px;
    margin: 10px 0 0 10px;
    border-top: 10px solid transparent;

    &:hover {
        transition: 0.2s;
        border-top-color: color(green);
    }

    @media (max-width: breakpoint(mobile)) {
        display: none;;
    }
}

.logo{
    cursor: pointer;
}

.hero {
    @include flexColCenter;

    width: 100%;
    height: 100%;
    text-transform: uppercase;

    & h1 {
        color: color(white);
        font-size: font-size(xxl);
    }

    & h2 {
        color: color(dark);
        font-size: font-size(xxl);
    }
}

.hero-cursor {
    opacity: 0;
    transition: .2s;
    color: color(white);

    &.active-cursor {
        opacity: 1;
    }
} 

.menu-icon {
    display: none;

    &.hidden{
        display: none;
    }

    @media (max-width: breakpoint(mobile)) {
        display: block;
        width: 50px;
        padding-left: 20px;
        cursor: pointer;
    }
}