.mission {
    @include flexRowCenter;
    width: 100vw;
    margin: 0 auto;
    position: relative;

    &__text-wrapper {
        max-width: width(main-width);
        @include flexColCenter;
    }

    &__dsc-wrapper {
        position: relative;
        padding: padding(text);
        padding-bottom: 0;
    }

}

.side-nav {
    position: absolute;
    right: 70px;
    font-family: font-family(secondary);
    font-size: 20px;
}