.contact {
    @include flexColCenter;
    justify-content: space-between;
    width: 100vw;
    margin: margin(primary);
    min-height: 500px;

    &__title-wrapper {
        @include flexRowCenter;
        justify-content: space-between;
        width: 100%;
        max-width: width(full-width);
    }
}