.mission {
    @include flexRowCenter;
    min-height: 600px;
    width: 100%;
    max-width: width(main-width);
    margin: margin(primary);

    &__text-wrapper {
        @include flexColCenter;
    }

    &__dsc-wrapper {
        position: relative;
        padding: 45px 30px; 
    }

}