.contact {
    @include flexColCenter;
    width: 100vw;
    margin: margin(primary);

    &__title-wrapper {
        @include flexRowCenter;
        justify-content: space-between;
        width: 100%;
        max-width: width(full-width);
        padding: 0 20px;
    }

    &__form-wrapper{
        padding: padding(primary); 
        padding-bottom: 0px;
    }
}

.form {
    display: flex;
    flex-direction: column;
}