.button {
    background-color: color(green);
    font-family: font-family(secondary);
    padding: 10px 18px;
    color: color(white);
    font-size: font-size(l);
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        border: 2px solid color(green);
        background-color: transparent;
        color: color(green);
    }

    &--submit {
        margin: 20px 0;
        align-self: center;
        justify-self: center;
    }
}
