.description {
    font-size: font-size(l);
    font-weight: font-weight(light);
    color: color(gray);
    line-height: 45px;
    max-width: 785px;
  
  &--clients {
    font-size: font-size(ll);
    max-width: 590px;
  }

  &--author {
    color: color(black);
    padding: 20px 0 30px 0;

    & a{
      color: color(white);
    } 
  }

  &--products {
    color: color(white);
    font-size: font-size(m);
    font-weight: font-weight(regular);
    line-height: 20px;
    padding: 13px;
  }

  &--map {
    height: 180px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
  }

  &--contact {
    line-height: 20px;
  }

  &--form {
    font-size: font-size(ll);
    margin: 40px 0 20px 0;
  }
}