.description {
    font-size: font-size(l);
    font-weight: font-weight(light);
    color: color(gray);
    line-height: 45px;
    max-width: 785px;
  
  &--clients {
    font-size: 30px;
    max-width: 590px;
  }

  &--author {
    color: color(black);
    padding: 20px 0 30px 0;

    & a{
      color: color(white);
    }
  }
}