.side-nav {
    @include flexColCenter;
    position: absolute;
    right: 70px;
    font-family: font-family(secondary);
    font-size: 20px;
    height: 100px;
    justify-content: space-between;
}

.arrow {
    position: relative;
    top: 0;
    transition: top ease 0.2s;
    width: 18px;
    
    &__up {
        transform: rotate(180deg);

        &:hover {
           top: -10px;
        }
    }

    &__down {
        
        &:hover {
            top: 10px;
         }
    }

    &__hidden {
        display: none;
    }
}