@import "base/variables";
@import "base/functions";
@import "base/mixins";

@import "layout/header";
@import "layout/section-mission";
@import "layout/section-clients";
@import "layout/section-products";
@import "layout/map";
@import "layout/section-contact";
@import "layout/footer";

@import 'components/description';
@import 'components/title';
@import 'components/quote-sign';
@import 'components/button';
@import 'components/text-input';

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: font-family(primary);
  font-size: font-size(m);
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: font-family(secondary);
}

